div.container.cms .row {
    margin-left: 0;
    margin-right: 0;
}
div.cms_list .cms_title {
    font-size: larger;
}
div.cms_title h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}
div.cms_category h1.cms_title_and_sub,
div.cms_category h2.cms_title_and_sub {
    display: inline-block;
}
p.cms_author {
    margin-bottom: 0;
}
p.cms_date,
p.cms_source,
p.cms_source_link {
    font-size: smaller;
    margin-bottom: 0;
}
div.cms_tags {
    margin-top: 10px;
    margin-bottom: 40px;
}
div.cms_text {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: larger;
}
div.cms_list .cms_text {
    margin-top: 0;
    font-size: smaller;
}
div.cms_magazine .cms_text {
    margin-top: 30px;
    margin-bottom: 40px;
}
.cms_content .glyphicon {
    font-size: larger;
    margin-right: 5px;
    line-height: inherit;
}
.cms_content .glyphicon.green {
    color: green;
}
.cms_content .glyphicon.red {
    color: red;
}
.cms_content .glyphicon.neutral {
    color: rgba(50,50,50,.3);
}
.cms_controls {
    position: relative;
    top: 15px;
}
.cms_content_editor form .divider {
    color: #dddddd;
    background-color: #555;
    border-radius: 4px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
}
.cms_content_editor form .tab-pane {
    min-height: 300px;
}
.cms_content_editor form #content {
    margin: 30px 15px;
}
.cms_content_editor ul.nav-tabs .has-error a {
    color:#a94442;
    background-color: #f2dede;
    background-image: linear-gradient(to bottom, #f2dede 0px, #e7c3c3 100%);
    background-repeat: repeat-x;
    border-color: #dca7a7;
}
/* firefox-specific hack for responsive tables */
@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}
